input{
    width: 381px;
    height: 96px;
    margin-bottom: 16px;
    margin-left: 21px;
    margin-top: 9px;
    background-color: #eaf5bc;
    border-radius: 12px;
    border-width: 5px;
}
#fullCalc{
    width: 424px;
    height: 519px;
    background-color: #b8b8b8;
    margin: 0 0 0 0;
}
.row{
    margin-left:13px;
}
.allbuttons{
    background-color: #e8e8e8;
    margin: 2px;
    border-left: 0;
    border-right: 0;
    border-radius: 12px;
    font-size: 26px;
    border-width: 4px;
}
.regbuttons{
    width: 93px;
    height: 54px; 
}
.zero{
    width: 194px;
    height: 54px;
}
.equals{
    width: 93px;
    height: 112px;
}
.lastRow{
    margin-top: -57px;
}
p{
    margin-top: 56px;
}