<<<<<<< HEAD
h1{
	text-align: center;
	font-family: Brandon, Helvetica, sans-serif, Arial;
}
.graphcalc{
	width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}
=======
>>>>>>> 1f7f11348aa1b0216249d6d7d9396e0bb1f45881
.graphcalc canvas{
    background-color: #F0FFF0;
    border: 2px solid black;
}
<<<<<<< HEAD
#fx{
	float:left;
	width: 10%;
}
#fxInput{
	float:right;
	width: 90%;
}
=======
/*#fxInput{
}*/
>>>>>>> 1f7f11348aa1b0216249d6d7d9396e0bb1f45881
#fxDiv{
    width: 100%;
}
#minMaxDiv{
<<<<<<< HEAD
    width: 100%
}
#xyVal{
	width: 100%;
}
#minXText{
	width: 15%;
	float: left;
	position: relative;
}
#maxXText{
	width: 15%;
	position: relative;
	float: left;
}
#minXInput{
	width: 25%;
	float: left;
	position: relative;
}
#maxXInput{
	width: 25%;
	float: left;
	position: relative;
}
#plotButton{
	width:20%;
	position: relative;
	float: right;
}
.graphInput{
	border-radius: 5px;
	height: 30px;
	font-size: 25px;
	background-color: #eaf5bc;
	border-width: 3px;
}
.text{
	font-size: 19px;
	font-family: Arial;
}
=======
    width: 50%;
}

.graphcalc{
    width: 306px;
}
>>>>>>> 1f7f11348aa1b0216249d6d7d9396e0bb1f45881
