#totalCalc{
    background-color: #b8b8b8;
	border-radius: 30px;
	width: 460px;
	height: 1000px;
	float: right;
	margin-right: -460px;
	overflow: hidden;
}

.widget{
	float:right;
	width: 200px;
	height: 200px;
}

/*------------------graphCalc CSS*--------------*/


h1{
	text-align: center;
	font-family: Brandon, Helvetica, sans-serif, Arial;
}
.graphcalc{
	width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}
.graphcalc canvas{
    background-color: #F0FFF0;
    border: 2px solid black;
}
.graphInput{
	border-radius: 5px;
	height: 35px;
	font-size: 25px;
	background-color: #eaf5bc;
	border-width: 3px;
	margin: 1 0 1 0;
}
#fx{
	float:left;
	width: 10%;
	font-size: 22px;
	font-weight: bold;
}
#fxInput{
	float:right;
	width: 90%;
}
#fxDiv{
    width: 100%;
}
#minMaxDiv{
    width: 100%
}
#xyVal{
	width: 100%;
}
#minXText{
	width: 20%;
	float: left;
	position: relative;
	font-size: 22px;
	font-weight: bold;
}
#maxXText{
	width: 20%;
	position: relative;
	float: left;
	font-size: 22px;
	font-weight: bold;
}
#minXInput{
	width: 20%;
	float: left;
	position: relative;
}
#maxXInput{
	width: 20%;
	float: left;
	position: relative;
}
#plotButton{
	width:20%;
	position: relative;
	float: right;
}

.text{
	font-size: 19px;
	font-family: Arial;
}


/*---------------appleCalc CSS------------------*/


body{
    margin: 0;    
}    
#calcDisplay{
    width: 381px;
    height: 96px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: #eaf5bc;
    border-radius: 12px;
    border-width: 5px;
    font-size: 50px;
    display: block;
}
#fullCalc{
    background-color: #b8b8b8;
    margin: 0 0 0 0;
    margin-right: auto;
    margin-left: auto;
}
.row{
    margin-left: auto;
    margin-right: auto;
    display: table;
}
#rowFive{
    margin-left: 36;
}
.allbuttons{
    background-color: #e8e8e8;
    margin: 2px;
    border-left: 0;
    border-right: 0;
    border-radius: 12px;
    font-size: 26px;
    /*font-family: Monaco;*/
    border-width: 4px;
}
.regbuttons{
    width: 93px;
    height: 56px; 
}
.zero{
    width: 194px;
    height: 54px;
}
.equals{
    width: 93px;
    height: 116px;
}
.lastRow{
    margin-top: -57px;
}
p{
    margin-top: 56px;
}
/*#invButton{

}*/