#items{
	border: 1px solid black;
	border-radius: 3px;
	width: 300px;
	height: 400px;

}
#knapsack{
	border: 1px solid black;
	border-radius: 3px;
	width: 300px;
	height: 400px;

}
.item{
	width: 100px;
	height: 100px;
	margin: 5px;
	position: absolute;
}
.itemLeft{
	float: left;
	
}
.itemRight{
	float: right;
	margin-left: 180px;
}
.knapItem{
	opacity: 0;
}
#clock{

}
#painting{

}
#radio{
	margin-top: 150px;
}
#vase{
	margin-top: 150px;
}
#book{
	margin-top: 300px;
}
#computer{
	margin-top: 300px;
}