#items{
	border: 1px solid black;
	border-radius: 10px;
	/*width: 300px;*/
	height: 400px;

}
#knapsack{
	border: 1px solid black;
	border-radius: 10px;
	/*width: 300px;*/
	height: 400px;

}
.item{
	width: 100px;
	height: 100px;
	margin: 5px;
	position: absolute;
}
.itemLeft{
	float: left;
	margin-left: 30px;
}
.itemRight{
	float: right;
	margin-left: 320px;
}
.knapItem{
	opacity: 0;
}
#clock{

}
#painting{

}
#radio{
	margin-top: 150px;
}
#vase{
	margin-top: 150px;
}
#book{
	margin-top: 280px;
}
#computer{
	margin-top: 280px;
}
.valueText{
	position: absolute;
	margin-top: 410px;
}
.remainingText{
	position: absolute;
	left: 50%;
	margin-left: -121px;
	margin-top: 410px;
}
.weightText{
	position: absolute;
	margin-left: 750px;
	margin-top: 410px;
}